<div id="top"></div>
<div class="socials" data-controller="socials scroll-reveal" data-action="scroll@window->socials#update">
  <h1 class="reveal insta" data-socials-target="social" data-scroll-reveal-target="item"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></a></i></h1>
  <h1 class="reveal linkedin" data-scroll-reveal-target="item"><a href="https://www.linkedin.com/in/arnold-c-0a3079244/" target="_blank"><i class="fa-brands fa-linkedin-in"></a></i></h1>
  <h1 class="reveal github" data-scroll-reveal-target="item"><a href="https://www.github.com/AJCJ1" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
</div>
<div class="home-banner">
  <div class="banner-svg-container">
    <svg class="banner-svg-item" viewBox="0 0 708 655" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M186 273.417H436V343.677C436 398.906 391.228 443.677 336 443.677H186V273.417Z" fill="#96C3F6"/>
      <path d="M186 100C186 44.7715 230.772 0 286 0H436V278.578C436 333.806 391.228 378.578 336 378.578H186V100Z" fill="#F7F7F7"/>
      <path d="M458 0H608C663.228 0 708 44.7715 708 100V378.578H458V0Z" fill="#4E6E91"/>
      <path d="M186 463.708H336C391.228 463.708 436 508.48 436 563.708V655H186V463.708Z" fill="#4E6E91"/>
      <ellipse class="ellipse-stand" cx="583" cy="387.592" rx="125" ry="125.191" fill="#F7F7F7"/>
      <path d="M65 1.00159C120.228 1.00159 165 45.7731 165 101.002L165 443.677H0L0 1.00159L65 1.00159Z" fill="#4E6E91"/>
    </svg>
  </div>
  <div class="home-banner-text" data-controller="scroll-reveal">
    <h1 class="reveal" data-scroll-reveal-target="item" data-delay="550ms">Creative Designer</h1>
    <h1 class="reveal" data-scroll-reveal-target="item" data-delay="750ms">And Developer.</h1>
  </div>
</div>

<div class="point-banner d-flex">
  <div class="point">
    <div class="point-head">
      <div class="circle"></div>
      <h2>Welcome.</h2>
    </div>
    <p class="point-sub-text">Thank you for taking the time to browse my portfolio. You'll find information
    about my previous experience and the services I can offer.</p>
  </div>
</div>
<div class="dark-header">
  <h1>Services</h1>
</div>
<div id="services" class="services-banner-container" data-controller="scroll-reveal">
  <div class="service-item">
    <%= image_tag "figma-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      Skilled in Figma <i class="fa-brands fa-figma"></i>, we can work together to develop a prototype of your idea. Let's be bold and be different!
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "full-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      From front to back, we will take your idea and make it a fully functioning and original website.
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "responsive-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
        Websites will become a responsive user interface for mobile, tablets and larger devices. No more clunky, oversized designs.
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "seo-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      Using industry standard techniques, your site will be available and favourable to search engines like Google or Ecosia.
    </p>
  </div>
</div>

<h1 class="about-title">About</h1>
<div class="about-container d-flex">
  <div class="about-point-container">
    <div class="point-head">
      <div class="circle"></div>
    </div>
    <p class="ind-p-desc"> Previously in UK Law enforcement, as both a Police Constable and Detective. </p>
  </div>
  <div class="about-point-container">
    <div class="point-head">
      <div class="circle"></div>
    </div>
    <p class="ind-p-desc">
      Graduated from an Intensive Full-Stack Development Bootcamp at
      <%= link_to (image_tag "lewagon.svg"), "https://www.lewagon.com", target:"_blank", class:"lewagon-link" %>
    </p>
  </div>
</div>


<div class="dark-header">
  <h1>Previous Work</h1>
</div>
<div id="portfolio" class="portfolio-container">

<div class="work-container">
    <div class="portfolio-left">
      <%= link_to "TripSelector", "https://www.trips-selector.com", target:"_blank", class:"px-2 port-subhead"%>
      <div id="carouselExampleCaptions" class="work-carousel carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner port-carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "tripselectorpg1.png", class:"d-block w-100", alt:"tripselector's home page" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "tripselectorpg2.png", class:"d-block w-100", alt:"tripselector's new journey page" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "tripselectorpg3.png", class:"d-block w-100", alt:"tripselector's display page" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p>
        With a team during my training at
        <%= link_to (image_tag "lewagon.svg"), "https://www.lewagon.com", target:"_blank", class:"lewagon-link" %>,
        we created an application that takes any number of parameters you feed it, and generates a random journey.
      </p>
    </div>


</div>
<%# end of tripselector carousel %>
<div class="fold">
    <div class="title">
      <p class="letter letter-1"><span>A</span></p>
      <p class="letter letter-2"><span>r</span></p>
      <p class="letter letter-3"><span>n</span></p>
      <p class="letter letter-4"><span>o</span></p>
      <p class="letter letter-5"><span>l</span></p>
      <p class="letter letter-6"><span>d</span></p>
      <p class="letter letter-7"><span>C.</span></p>
      <p class="letter letter-8"><span>J</span></p>
      <p class="letter letter-9"><span>o</span></p>
      <p class="letter letter-10"><span>n</span></p>
      <p class="letter letter-11"><span>e</span></p>
      <p class="letter letter-12"><span>s</span></p>
      <p class="letter letter-13">
        <span>
          <svg class="spinner-logo" preserveAspectRadio="xMinYMin meet" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M50.2083 13.75C47.7083 16.875 45.8333 20.2084 45.8333 21.0417C45.8333 24.1667 50.4167 23.125 53.125 19.375C55.4167 16.25 56.25 16.25 62.2917 20.625C65.8333 23.125 68.75 26.25 68.75 27.5C68.75 28.5417 71.6667 32.2917 75 35.4167C78.5417 38.5417 81.25 42.2917 81.25 43.5417C81.25 45 72.0833 45.8334 53.125 45.8334C37.7083 45.8334 25 45 25 43.9584C25 42.9167 28.3333 39.5834 32.5 36.4584C37.9167 32.2917 40.625 31.4584 42.2917 33.125C45.1614 32.143 45.8333 35.4167 47.2917 35.4167C48.3872 37.9167 50.2083 29.375 44.7917 25.8334C39.5833 22.5 39.1667 22.5 33.75 27.5C30.625 30.4167 26.4583 33.3334 24.5833 33.9584C22.5 34.5834 20.4167 37.5 19.5833 40.4167C18.75 43.9584 16.6667 45.8334 12.9167 46.25C10 46.6667 7.29167 48.125 6.66667 49.375C6.04167 51.4584 15.625 52.0834 49.7917 52.0834C91.25 52.0834 98.5417 51.0417 91.0417 46.4584C89.5833 45.625 87.0833 41.6667 85.625 37.9167C83.9583 34.1667 81.0417 30.2084 78.75 28.9584C76.6667 27.7084 73.9583 24.5834 72.9167 21.6667C71.875 18.9584 69.5833 16.6667 68.125 16.6667C66.4583 16.6667 63.5417 14.7917 61.4583 12.5C56.6667 7.08337 55.4167 7.29171 50.2083 13.75Z" fill="white"/>
            <path d="M18.75 58.3334C18.75 60.625 21.6667 63.3334 32.9167 72.0834C39.375 77.2917 40 77.2917 44.7917 74.1667C50.2083 70.625 51.875 64.5834 47.2917 64.5834C45.8333 64.5834 43.5417 65.625 42.2917 66.875C40.4167 68.75 37.7083 67.7084 31.6667 62.7084C23.125 56.0417 18.75 54.5834 18.75 58.3334Z" fill="white"/>
            <path d="M78.75 61.4584C77.5 64.375 75.2083 66.6667 73.5417 66.6667C72.0833 66.6667 70 68.75 68.9583 71.4584C67.9167 74.1667 64.375 78.125 61.25 80.2084C56.0417 83.5417 55.4167 83.5417 53.125 80.4167C50.4167 76.875 45.8333 75.8334 45.8333 78.9584C45.8333 80.2084 47.9167 83.5417 50.625 86.4584L55.2083 92.0834L64.1667 86.25C68.9583 83.125 72.9167 79.375 72.9167 78.125C72.9167 76.875 75.8333 73.5417 79.1667 70.4167C82.7083 67.5 85.4167 62.9167 85.4167 60.625C85.4167 54.5834 81.6667 55.2084 78.75 61.4584Z" fill="white"/>
          </svg>
        </span>
      </p>
    </div>
  </div>


</div>
</div>

<div class="socials-bottom" data-controller="scroll-reveal bottomsocials" data-action="scroll@window->bottomsocials#update" data-bottomsocials-target="bottomsocials">
  <h1 class="reveal insta" data-scroll-reveal-target="item"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></a></i></h1>
  <h1 class="reveal linkedin" data-scroll-reveal-target="item"><a href="https://www.linkedin.com/in/arnold-c-0a3079244/" target="_blank"><i class="fa-brands fa-linkedin-in"></a></i></h1>
  <h1 class="reveal github" data-scroll-reveal-target="item"><a href="https://www.github.com/AJCJ1" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
</div>
<a href="#top" data-controller="scroll-to scroll-reveal" class="back-to-top"><i data-scroll-reveal-target="item" class="reveal fa fa-chevron-up" aria-hidden="true"></i></a>
