<div id="top"></div>
<div class="socials" data-controller="socials scroll-reveal" data-action="scroll@window->socials#update">
  <h1 class="reveal insta" data-socials-target="social" data-scroll-reveal-target="item"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></a></i></h1>
  <h1 class="reveal linkedin" data-scroll-reveal-target="item"><a href="https://www.linkedin.com/in/arnoldcubicijones/" target="_blank"><i class="fa-brands fa-linkedin-in"></a></i></h1>
  <h1 class="reveal github" data-scroll-reveal-target="item"><a href="https://www.github.com/AJCJ1" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
</div>
<div class="home-banner">
  <div class="banner-svg-container">
    <svg class="banner-svg-item" viewBox="0 0 708 655" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M186 273.417H436V343.677C436 398.906 391.228 443.677 336 443.677H186V273.417Z" fill="#96C3F6"/>
      <path d="M186 100C186 44.7715 230.772 0 286 0H436V278.578C436 333.806 391.228 378.578 336 378.578H186V100Z" fill="#F7F7F7"/>
      <path d="M458 0H608C663.228 0 708 44.7715 708 100V378.578H458V0Z" fill="#4E6E91"/>
      <path d="M186 463.708H336C391.228 463.708 436 508.48 436 563.708V655H186V463.708Z" fill="#4E6E91"/>
      <ellipse class="ellipse-stand" cx="583" cy="387.592" rx="125" ry="125.191" fill="#F7F7F7"/>
      <path d="M65 1.00159C120.228 1.00159 165 45.7731 165 101.002L165 443.677H0L0 1.00159L65 1.00159Z" fill="#4E6E91"/>
    </svg>
  </div>
  <div class="home-banner-text" data-controller="scroll-reveal">
    <h1 class="reveal" data-scroll-reveal-target="item" data-delay="550ms">Creative Designer</h1>
    <h1 class="reveal" data-scroll-reveal-target="item" data-delay="750ms">And Developer.</h1>
  </div>
</div>

<div class="point-banner d-flex">
  <div class="point">
    <div class="point-head">
      <div class="loader loader--style5" title="4">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="10" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.2s" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="20" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.4s" dur="1s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
      <h2>Welcome.</h2>
    </div>
    <p class="point-sub-text">Thank you for taking the time to browse this site. You'll find information
    about my previous experience and the services I can offer.</p>
  </div>
</div>
<div class="dark-header">
  <h1>Services</h1>
</div>
<div id="services" class="services-banner-container" data-controller="scroll-reveal">
  <div class="service-item">
    <%= image_tag "figma-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      I protoype ideas with <%= link_to raw("<span>Figma <i class='fa-brands fa-figma'></i></span>"), "https://www.figma.com/", target:"_blank" %>. This allows me to work with others and visualise ideas.
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "full-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      From front to back, I can take an idea and make it a fully functioning and bespoke website.
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "responsive-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      Responsive by design. I make sites that look good regardless of device.
    </p>
  </div>
  <div class="service-item">
    <%= image_tag "seo-vector.svg"%>
    <p class="service-sub-text reveal" data-scroll-reveal-target="item">
      Using industry standard SEO, sites I create are favourable to search engines like Google or Ecosia.
    </p>
  </div>
</div>

<h1 class="about-title">About</h1>
<div id="about" class="about-container d-flex">
  <div class="about-point-container">
    <div class="point-head">
      <div class="loader loader--style5" title="4">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="10" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.2s" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="20" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.4s" dur="1s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
    </div>
    <p class="ind-p-desc"> Previously in UK Law enforcement, as both a Police Constable and Detective. </p>
  </div>
  <div class="about-point-container">
    <div class="point-head">
      <div class="loader loader--style5" title="4">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="10" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.2s" dur="1s" repeatCount="indefinite" />
          </rect>
          <rect x="20" y="0" width="4" height="10" fill="#033153">
            <animateTransform attributeType="xml"
              attributeName="transform" type="translate"
              values="0 0; 0 20; 0 0"
              begin="0.4s" dur="1s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>



    </div>
    <p class="ind-p-desc">
      Graduated from an Intensive Full-Stack Development Bootcamp at
      <%= link_to (image_tag "lewagon.svg"), "https://www.lewagon.com", target:"_blank", class:"lewagon-link" %>
    </p>
  </div>
</div>


<div class="dark-header pb-5">
  <h1>Previous Work</h1>
</div>
<div id="portfolio" class="portfolio-container">

<div class="work-container">
    <div class="portfolio-left">
      <div class="work">
        <div class="d-flex">
          <%= link_to image_tag("TripSelector.jpg", class:"tripselector-img", alt:"image of tripselector logo"), "https://www.trips-selector.com", target:"_blank", class:"px-2 "%>
          <h2><%= link_to "Tripselector", "https://www.trips-selector.com", target:"_blank", class:"px-2 "%></h2>
        </div>
        <p class="work-desc mt-3">
          With a team during my training at
          <%= link_to "Le Wagon", "https://www.lewagon.com", target:"_blank", class:"link link-light" %>,
          we created an application that takes any number of parameters you feed it, and generates a random journey.
          It's a work in progress, but click the image to see it in action!
        </p>
      </div>
    </div>
</div>

<%# end of tripselector carousel %>
<div class="fold">
    <div class="title">
      <p class="letter letter-1"><span>A</span></p>
      <p class="letter letter-2"><span>r</span></p>
      <p class="letter letter-3"><span>n</span></p>
      <p class="letter letter-4"><span>o</span></p>
      <p class="letter letter-5"><span>l</span></p>
      <p class="letter letter-6"><span>d</span></p>
      <p class="letter letter-7"><span>C.</span></p>
      <p class="letter letter-8"><span>J</span></p>
      <p class="letter letter-9"><span>o</span></p>
      <p class="letter letter-10"><span>n</span></p>
      <p class="letter letter-11"><span>e</span></p>
      <p class="letter letter-12"><span>s</span></p>
      <p class="letter letter-13">
      </p>
    </div>
  </div>


</div>
</div>

<div class="socials-bottom" data-controller="scroll-reveal bottomsocials" data-action="scroll@window->bottomsocials#update" data-bottomsocials-target="bottomsocials">
  <h1 class="reveal insta" data-scroll-reveal-target="item"><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></a></i></h1>
  <h1 class="reveal linkedin" data-scroll-reveal-target="item"><a href="https://www.linkedin.com/in/arnoldcubicijones/" target="_blank"><i class="fa-brands fa-linkedin-in"></a></i></h1>
  <h1 class="reveal github" data-scroll-reveal-target="item"><a href="https://www.github.com/AJCJ1" target="_blank"><i class="fa-brands fa-github"></i></a></h1>
</div>
<a href="#top" data-controller="scroll-to scroll-reveal" class="back-to-top"><i data-scroll-reveal-target="item" class="reveal fa fa-chevron-up" aria-hidden="true"></i></a>
